<div class="lijst-content">

    <div *ngIf="items?.length === 0">
        <br/>&nbsp;Geen boodschappen<br/>
    </div>

    <div *ngIf="items?.length > 0">
        <br/>
            <div>
                <a href="mijnwinkelwagen/printlijst"><button class="maak-boodschappenlijst-button">Print boodschappenlijst</button></a>
                <button class="maak-boodschappenlijst-button" data-ng-click="wisBoodschappenlijst()">Wis lijst</button>
            </div>
            <br/>
            <br/>
            <table width="100%">
                <tr *ngFor="let item of items">
                    <td class="list-item list-item-left" data-ng-click="verwijderItem(item.id)">
                        <img src="/assets/images/verwijderen.png" width="25px" height="25px">
                    </td>
                    <td class="list-item list-item-left">{{item.produkt.naam}}</td>
                    <td class="list-item list-item-right">{{item.hoeveelheid}} {{item.produkt.eenheid}}</td>
                    <td class="list-item list-item-right" data-ng-click="subtractUnit(item.id)">
                        <img src="/assets/images/minus.png" width="25px" height="25px">
                    </td>
                    <td class="list-item list-item-left" data-ng-click="addUnit(item.id)">
                        <img src="/assets/images/plus.png" width="40px" height="40px"> <br/>
                    </td>

                </tr>
            </table>
    </div>
</div>
