<div class="content">

    <div>
        <button class="back-button" [routerLink]="['/']">Terug naar produktgroepen</button>

        <button class="toevoegen-produkt-button" data-ng-click="toevoegenNieuwProdukt()">Toevoegen nieuw produkt</button>

        <br/>
        <br/>
    </div>

    <div [ngClass]="(produkt.id != produktId) ? 'produkt-item' : 'produkt-item-selected'" *ngFor="let produkt of produkten">
        <div>
            <div (click)='toevoegenProduktWinkelwagen(produkt.id)'>
                <img src="/assets/images/{{produkt.imageNaam}}" class="produkt-image">
            </div>
            <div class="produktgroep-item-text">
                <img src="/assets/images/edit-icon.jpeg" class="edit-image" alt="Bewerken" data-ng-click="wijzigenProduktGegevens(produkt.id)">
                <div class="text-centered">{{produkt.naam}}</div>
            </div>
            <br/>
        </div>
    </div>
</div>
