.content {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    width: 590px;
}

.produktgroep-item {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
    border-radius: 25px;
    background: #FCFCFC;
    padding: 20px;
    width: 140px;
    height: 140px;
}

.produktgroep-image {
    width:  100px;
    height: 100px;
}

.produktgroep-item-text {
    text-align: center;
    border-radius: 25px;
    margin-top: 8px;
    background: #95D7ED;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    height: 40px;
}

.no-underline {
    text-decoration: none;
}
